*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "poppins", sans-serif;
}
html{
	scroll-behavior: smooth;
}

body{
	align-items: center;
	justify-content: center;
	padding:px;
	background-image: url(pi19.jpg);
	background-size: cover;
}
/*nav code*/
.menu-bar{
  background:rgb(40, 50, 0);
  display:flex;
  text-align: center;
  justify-content:space-between;
  z-index: 99;
  margin-bottom: 20px;
  height: 95px;
  position: sticky;
  top: 0;
}
.orion-img{
  width:300px;
  height: 100px;
  cursor: pointer;
}
.menu-bar ul{
  display: inline-flex;
  list-style:none;
  color:#fff;
}
.menu-bar ul li{
  width:120px;
  margin:15px;
  padding:15px;
	white-space: nowrap;
}
.menu-bar ul li a{
  text-decoration:none;
  color:#fff;
}
.active, .menu-bar ul li:hover{
  background:#2bab0d;
  border-radius:3px;
}
.menu-bar .fa{
  margin-right:8px;
}
.sub-menu-1{
  display:none;

}
.sub-menu-1:hover{
  cursor: pointer;
}
.menu-bar ul li:hover .sub-menu-1{
  display:block;
  position:absolute;
  background:rgb(0, 100, 0);
  margin-top:15px;
  margin-left:-15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
  display: block;
  margin: 10px;

}
.menu-bar ul li:hover .sub-menu-1 ul li{
  width:150px;
  padding:10px;
  border-bottom:1px dotted #fff;
  background:transparent;
  border-radius:0;
  text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
  border-bottom:none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
  color:#b2ff00;
}
.fa-angle-right{
  float: right;
}
.sub-menu-2{
  display:none;
}
.sub-menu-2:hover{
  cursor: pointer;
}
.hover-me:hover .sub-menu-2{
  position:absolute;
  display: block;
  margin-top: -40px;
  margin-left:140px;
  background-color: rgba(0,100,0);
}



body{
	background-image: url(pi20.jpg);
	background-size: 440px;
}
/*form Page*/
.container {
  max-width: 400px;
  margin: 40px 550px auto;
  padding: 20px;
  border: 1px solid #ccc;
  max-width: 700px;
	width: 100%;
	background-image: url(orio1.jpg);
	padding: 25px;
	border-radius: 8px;
	box-shadow: 0 0 15px rgb(0, 100, 150, 1.0);
}
.container label{
	font-size: 25px;
	margin-top: 30px;
	color: black;
}
.container input{
	height: 40px;
}
.gender{
	height: 60px;
}
.gender option{
	font-size: 20px;
}
h2{
	text-align: center;
	font-size: 40px;
	white-space: nowrap;
}

form {
  display: flex;
  flex-direction: column;
}
.form button{
	height: 55px;
	width: 100%;
	background-color: rgb(130, 106, 251);
	color: #fff;
	font-size: 1rem;
	font-weight: 400;
	border: none;
	margin-top: 30px;
	cursor: pointer;
	border-radius: 6px;
	transition: all 0.2s ease;

}
.form button:hover{
	background-color: rgb(88, 56, 250);
}
.form .send{
	font-size: 25px;
	font-weight: bolder;
}

label {
  margin-bottom: 5px;
}

input, textarea {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.select-box select{
	height: 100%;
	width: 100%;
	outline: none;
	border: none;
	color: #70707070;
	font-size: 1rem;
}
/*responsive*/
@media (max-width: 1200px) {
  .menu-bar {
    padding: 0 10px;
  }
}

@media (max-width: 992px) {
  .menu-bar ul li {
    margin: 10px;
    padding: 10px;
  }
  .menu-bar ul li a{
    display: column;
  }
}
@media (max-width:500px) {
	.container label input{
		display: column;
	}
}

@media (max-width: 500px) {
  .menu-bar {
    display: column;
    flex-direction: column;
    height: auto;
  }

  .menu-bar ul {
    flex-direction: column;
    align-items: center;
  }
  .topc-orio{
    display: column;
  }

  .menu-bar ul li {
    margin: 0;
    padding: 10px;
  }
}


@media (max-width:992px){
	.container label{
		display: column;
	}
}
@media (max-width:1200px){
	.container {
		max-width: 200px;
		margin: 40px 20px auto;
		padding: 20px;
		border: 1px solid #ccc;
		width: 80%;
		background-image: url(orio1.jpg);
		padding: 25px;
		border-radius: 8px;
		box-shadow: 0 0 15px rgb(0, 100, 150, 1.0);
	}
}