*{
	box-sizing: border-box;
	font-family: fantasy;
	margin: 0;
	padding: 0;
}
.contain-er{
	font-family:roboto,arial;
	padding: 40px;
	width: 100%;
	min-height:100vh;
}
.todo-app{
	width:100%;
	max-width:540px;
	background-size:cover;
  background-position:center;
  background-image: url(pi5.jpg);
	margin:10px auto 20px;
	padding: 70px 35px 190px;
	border-radius:10px;
	margin-left:75px;
	display: inline-block;
}
.to-do{
	background:#fff;
	margin:10px auto 20px;
	padding:90px 45px 140px;
	border-radius:10px;
	width:100%;
	max-width:540px;
	display: inline-block;
	margin-left: 60px;
	font-size: 40px;
	text-align: center;
	background-size: cover;
	background-image: url(pi22.jpg);
	background-position: center;
}
.topic-orio{
	font-size:80px;
	color:rgb(30, 50, 150);
	text-align: center;
	margin-top: 30px;
}
.we{
	font-size: 20px;
	color:rgb(0, 0, 50);
}
.book{
	background-color:green;
		color:white;
		font-size: 20px;
		height:40px;
		width:300px;
		border:none;
		cursor:pointer;
		display:block;
		margin-top:7px;
		border-radius: 10px;
		text-decoration: none;
}
.book a{
	text-decoration: none;
}
.book:hover{
	opacity: 0.5;
}
.book:active{
	opacity: 0.2;
}
.write{
	margin-left: 350px;
}

.good{
	color:green;
		font-size: 60px;
		font-weight: bold;
		border:none;
		display:block;
		margin-top:-50px;
		margin-left: 30px;
		margin-bottom: 80px;
		border-radius: 10px;
		font-family: roboto, arial;
}
.list{
	font-family: arial;
	color: black;
	font-size: 20px;
	list-style-type: none;
	margin-right:-20px;
}
.prior{
	color: white;
	font-size: 30px;
	font-family: roboto;
	background-color: blue;
	text-align: center;
}
.conc{
	background-color: orange;
}
/* footer */
footer{
	width:100%;
	position: absolute;
	bottom: 40;
	background: linear-gradient(to right, #00093c, #2d0b00);
	color: #fff;
	padding: 100px 0 30px;
	border-top-left-radius:125px;
	font-size: 13px;
	line-height: 20px;
}
.row{
	width: 85%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}
.col{
	flex-basis: 25%;
	padding: 10px;
	font-family: arial;
}
.col a{
	color: darkorange;
	font-family: roboto;
}
.col h4{
	color: darkorange;
	font-family: roboto;
} 
.logo{
	width:200px;
	height: 150px;
	margin-bottom: 50px;
}
.col h3{
	width:fit-content;
	margin-bottom: 40px;
	position: relative;
	font-family: roboto;
}
.col:nth-child(2), .col:nth-child(3){
	flex-basis: 15%;
}
.email-id{
	width: fit-content;
	border-bottom: 1px solid #ccc;
	margin: 20px 0;
}
ul li{
	list-style:none;
	margin-bottom: 12px;
}
ul li a{
	text-decoration: none;
	color: #fff;
}
form{
	padding-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #ccc;
	margin-bottom: 50px;
}
form .far{
	font-size: 18px;
	margin-right: 10px;
}
form input{
	width: 100%;
	background: transparent;
	color: #ccc;
	border:0;
	outline: none;
}
form button{
	background: transparent;
	border: 0;
	outline: none;
	cursor: pointer;
}
form button .fas{
	font-size: 16px;
	color:#ccc;
}
.social-icons .fab{
	width:40px;
	height:40px;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	color: #000;
	background: #fff;
	margin-right: 15px;
	cursor: pointer;
}
hr{
	width: 90%;
	border: 0;
	border-bottom: 1px solid #ccc;
	margin: 20px auto;
}
.underline{
	width: 100%;
	height:5px;
	background: #767676;
	border-radius: 3px;
	position: absolute;
	top: 25px;
	left: 0;
	overflow: hidden;
}
.underline span{
	width: 15px;
	height: 100%;
	background: #fff;
	border-radius: 3px;
	position: absolute;
	top: 0;
	left: 10px;
	animation:moving 2s linear infinite;
}

@keyframes moving{
    0%{
    	left: -20px;
    }
    100%{
    	left: 100%;
    }
}

@media(max-width:1200px){
   .write{
	margin-left: 5px;
}
}
@media(max-width:1200px){
	footer{
		width:100%;
		position: absolute;
		bottom: 40;
		color: #fff;
		padding: 100px 0 30px;
		border-top-left-radius:125px;
		font-size: 13px;
		line-height: 20px;
	}
}













